
/*conteudo*/

main{
    display: flex;
    flex-direction: column;
}

#intro{
    height: 210px;
    background: #020714;
    margin: none;
}

#intro h1{
    color: white;
    padding: 30px;
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(128, 0, 128, 0.463);
}

#intro p{
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}


/*conteudo da area de cursos*/

.container-curso{
    margin-top: 20px;
    background-color: #6859c98f;
    border-radius: 10px;
    max-width: 300px;
    min-height: 300px;
    margin: 30px auto;
    box-shadow: 2px 2px 10px rgba(128, 0, 128, 0.727);
    padding: 10px;
    border:  1px solid purple;

}

#cursos-main p{
    font-size: 20px;
    margin-top: 30px;
    display: flex;
    margin: 30px auto;
    text-align: center;
    color: white;
}

#cursos-main a{
    display: block;
    font-size: 19px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-align: center;
    margin-top: 5px;
}

.cursos-imagem{
    display: flex;
    max-width: 300px;
    height: 140px;
    margin: 10px;
    margin: auto;
}

/*footer*/

#footer{
    width: 100vw;
    background-color: #020714;
}

#redes-sociais{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-bottom: 2px;
}

.icone-redes:hover{
    box-shadow: 5px 5px 10px rgba(128, 0, 128, 0.659);
    transform: translate(-2px, -2px);
    transition: transform .2s, border 1s;
}

#direitos{
    color: white;
    text-align: center;
    font-size: 13px;
    border-top: 1px solid rgba(255, 255, 255, 0.459);
}
