@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header a{
    color: rgb(255, 255, 255);
    text-decoration:none ;
    font-family: sans-serif;
}

header a:hover{
    background: #081537;
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
}

#header{
    width: 100vw;
    height: 70px;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #020714;
}

/*menu hambuerguer*/
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem;
}

#menu{
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #020714;
    height: 0px;
    z-index: 1000;
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden;
} 

#nav.active #menu{
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
}

#menu a{
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid #6859c98f;
}

#btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
}

#hamburguer{
    border-top: 2px solid;
    width: 20px;
    color: white;
}

#hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    border-top: 2px solid;
    width: 20px;
    color: white;
    margin-top: 5px;
    background: currentColor;
    transition: 0.3s;
    position: relative;
}

#nav.active #hamburguer{
    border-top-color: transparent;
}

#nav.active #hamburguer::before{
    transform: rotate(135deg);
}

#nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -6.5px;
}

/*conteudo*/

main{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;

}

#intro{
    height: 230px;
}

#intro h1{
    padding: 30px;
    font-size: 2rem;
    margin-top: 10px;
}

#intro p{
    padding: 15px;
    align-items: center;
}

/*conteudo na area dos cursos*/

/*banner*/
#img-principal{
    width: 100vw;
    margin-bottom: 50px;
}

.cursos-imagem{
    width: 300px;
    display: flex;
    padding: 10px;
    max-height: 180px;
    margin-bottom: 60px;
}

#cursos-main{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#cursos-main p{
    font-size: 16px;
    margin-left: 20px;
}

#cursos-main a{
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #6859C9;
    font-weight: bolder;

}